{% extends 'CmsBundle::layout.html.twig' %}
{% block main %}
    <div class="list_left_side">
        
    </div>
    <div class="list_right_side">
        ${sections.render('content')}
    </div>
{% endblock %}