{% extends 'MyexpCmsBundle::common.html.twig' %}
{% block title %}{{ entity.content.title }} - {{ parent() }}{% endblock %}
{% block inner %}
    <div class="news_content">
        {{ entity.content.description | raw }}
    </div>
{% endblock %}
