{# 文件选择器 #}
{% block finder_widget %}
{% spaceless %}
    <div>
        <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}"/>
    </div>
        <button class="ui button" type="button">新增</button>
    <script type="text/javascript">
        {% autoescape true js %}
        {% endautoescape %}
    </script>
    <script type="text/javascript" src="{{ asset('bundles/myexpfinder/elfinder/jquery/jquery-ui.min.css') }}"></script>
    <script type="text/javascript">
        {% autoescape true js %}
        {% endautoescape %}
    </script>
{% endspaceless %}
{% endblock %}