{% extends 'SmtCmsBundle::main.html.twig' %}
{% block title %}{{ category.trans.title }}{{ parent() }}{% endblock %}
{% block content %}
    {% if entities is not empty %}
        {% for entity in entities %}      
            <div class="list_right_list2">
                <ul>
                    <li>{{ entity.trans.title|slice(0, 50) }}<em>[]</em></li>        
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <div class="news_content_p">
            <h3>正在建设，敬请期待...</h3>
        </div>
    {% endif %}
    <div class="clear"></div>
    {% include 'SmtCmsBundle:Chips:paginator.html.twig' %}
{% endblock %}
