<div class="header">{{ 'category.edit'|trans }}</div>
<div class="content">
    {{ form(edit_form) }}
</div>
<div class="actions">
    <div class="ui teal approve button">{{ 'common.submit'|trans }}</div>
    <div class="ui cancel button">{{ 'common.cancle'|trans }}</div>
</div>