body { padding:0 1em; }
.ui.menu { margin: 1em 0em;}
.ui.menu:last-child { margin-bottom: 110px;}
.ui.content { padding-top: 15px; }
.ui.delete.form {text-align: right;}
.level-1 { text-indent: 1em; }
.datetime-picker { width: 100px; }