<div class="header_ban">
      <div id="KinSlideshow_slider"  style="visibility:hidden;">
    {% for entity in entities %}
    <a href=""><img src="{{ asset(entity.picurl|picurl) }}" width="1000" height="144" alt=""></a>
    {% endfor %}
    </div>
</div>