{# 树状显示 #}
{% macro treeView(node) %}
    {% import _self as tree %}
    {% if node.children is not empty %}
        <ul>
            {% for tmp in node.children %}
                <li dbid="{{ tmp.id }}">{{ tmp.title }}{{ tree.treeView(tmp) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}