{% extends 'MyexpCmsBundle:Admin:base.html.twig' %}
{% block title %}{{ 'user.new'|trans }}{% endblock %}
{% block content %}
    <div class="ui breadcrumb">
        <a class="section">Home</a>
        <i class="right angle icon divider"></i>
        <a class="section">Store</a>
        <i class="right angle icon divider"></i>
        <div class="active section">T-Shirt</div>
    </div>
    {{ form_start(form, {action: path('admin_user_create')}) }}
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
