<div id="jstree_menu_div">
    <ul>
        <li>{{ 'menu.item.root'|trans }}
            {% import 'MyexpAdminBundle:Chips:macros.html.twig' as tree %}
            {% if topItems is not empty %}
                <ul>
                    {% for topItem in topItems %}
                        <li dbid="{{ topItem.id }}">{{ topItem.title }}{{ tree.treeView(topItem) }}</li>
                        {% endfor %}
                </ul>
            {% endif %}
        </li>
    </ul>
</div>
<div class="ui modal"></div>